body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1D1D20;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #232327;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #FAD61A;
    font-family: 'Baloo Tammudu 2', cursive;
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1D1D20;
    background-color: #FAD61A;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1D1D20;
    padding: 100px 130px;
}

.content {
    text-align: left;
    max-width: 600px;
}

.content h1 {
    font-size: 110px;
    color: #FAD61A;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    text-align: left;
    position: relative;
    font-family: Arial, sans-serif;
}

.content p::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #FAD61A;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    position: relative;
}

.social-icons a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #232327;
    position: relative;
    overflow: hidden;
}

.social-icons a img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-radius: 50%;
}

.line {
    position: absolute;
    top: 50%;
    width: calc(100% - 240px);
    height: 4px;
    background-color: #232327;
    left: 80px;
    transform: translateY(-50%);
    z-index: -1;
}
